<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%=_('思易网')%> <%= @html_title.to_s %></title>
<%=render "/client/common/head_tag_content_for_client"%>

</head>


<body>

<%=render "common/header"%>
<!--main start-->
<!--main begin-->
<div class="main_200_760">


    <!--left begin-->
    <div class="list_left">
        <%=render "/client/common/user_pane", :user=>@user%>

        <!--tab cutover begin-->
        <div class="tav_cutover">
        	<a href="#" class="current"><%=_('我关注的')%></a>
            <a href="#"><%=_('我的粉丝')%></a>
        </div>
        <!--tab cutover end-->
    </div>
    <!--left end-->













    <!--center begin-->
    <div class="float_right message_right">
<%=yield%>
    </div>
    <!--center end-->




</div>
<!--main end-->

<!--main end-->
<%=render "common/bottom"%>
<%=render "common/bottom_js"%>
</body>
</html>

