<div class="w_170 f_left">
  	<!--avatar info begin-->
    <div class="avatar_info">
    	<div class="avatar_info_item">
        <div class="w_70 f_left avatar">
         <%=link_to (user_avatar_tag(@user, :index_thumb, :alt=>"",:size=>"60x60", :scaling=>false)), user_path(@user)%>
        </div>
        <div class="w_85 f_right user_name">
          <div class="u_n"><%=link_to @user.displayable_name, user_path(@user)%></div>
          <div class="u_icon">
             <%=link_to '',upload_avatar_client_user_path,:class=>"u_a14",:title=>_("编辑头像")%>
             <%=link_to '',client_profiles_path,:class=>"u_a13",:title=>_("修改个人资料")%>  
             <%=link_to '',client_private_messages_path,:class=>"u_a16",:title=>_("私信")%>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
      <!--pop begin-->
      <div class="up_blocker">
      	<div class="triangle20"><var>◆</var></div>
				<div class="up_blocker_item">
					<%=form_for @activity||Activity.new,:url=>client_activities_path, :remote=>true, :html=>{:'data-type'=>(params["with_format"] || 'html'), :id=>(params[:form_id] || (params[:forward] ? "forward_activity_form" : "post_activity_form"))} do |form|%>
					<div class="activity_form_fields">
						<%=form.text_area :content,:placeholder=>_("聊些我的动态..."),:cols=>"30",:rows=>"3",:title=>_('在这里您可以发表您的想法和评论，也可以分享商业伙伴动态与所关心的热点新闻...')%><%=params[:format]%>
						<div class="clear">&nbsp;</div>
					</div>
					<div>
						<%=form.hidden_field :forward_id%>
						<span class = "publish_activity_content" style="display:none"> <%=form.submit _('发布')%> </span>
						<%=form.fields_for :share do |share_form|%>
							<%=share_form.hidden_field :content_type%>
							<%=share_form.hidden_field :content_id%>
						<%end%>
					</div>
					<%end%>
					<div class="clear">&nbsp;</div>
				</div>
				
				<div class="clear">&nbsp;</div>
      </div>
    	<!--pop end-->
    	<div class="clear">&nbsp;</div>
    </div> 
    <!--avatar info end-->
   
    
    <!--This month activity begin-->
    <div class="mg_top20">
    	<div class="p_title"><strong><%=_('本月活动')%></strong></div>
      <div class="month_event">
		<% @latest_events.each do | event | %>
				<%= link_to ce_image(event, :image, :medium, {:size=>"60x60",:alt=>event.title}), client_event_path(event)%>
      	<% end %>
      </div>
    	<div class="clear">&nbsp;</div>
    </div>
    <!--This month activity end-->    


    <!--invite friend begin-->
    <div class="invite_friend">
    	<strong><%=raw(_("You have %s invitations left")%[content_tag :var, @user.property.limit_invites-@user.property.used_invites, :id=>"invitation_count"])%></strong>
    	<%=link_to _("邀请商业伙伴"), new_client_invite_path, :class=>"fancybox new_dashboard_invitation"%>
    </div>
    <!--invite friend end-->  


    <div class="clear">&nbsp;</div>
	</div>
