
				<!--Title begin-->
				<%= render :partial => 'common/right_buttons/my_accounts', :locals=>{:action => 'edit_password'} %>
				<!--Title end-->    	

        <!--content begin-->
        <div class="content mgt10">

          <!--change begin-->
          <div class="">
          <%=form_for @user,:url=>client_update_password_path, :remote=>true, :html=>{:id=>"password_edit_form",:"data-type"=>:json} do |form|%>
            <!--Reset Password begin-->
            <div class="pdT15 join_login mg0a">
            
							<!--form_unit begin-->
							<div class="form_unit">
								<div class="s_unit">
									<label><%=_('Current Password')%> <var>*</var></label>
									<%=password_field_tag :old_password,'',:class=>"w225"%>
								</div>
								<div class="error_msg mgL110 radius2 base_error">
								<%=form.error_message_on :old_password%>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<!--form_unit end-->
		
							<!--form_unit begin-->
							<div class="form_unit">
								<div class="s_unit">
									<label><%=_('New Password')%> <var>*</var></label>
									<%=form.password_field :password,:class=>"w225"%>
								</div>
								<div class="error_msg mgL110 radius2"><%=form.error_message_on :password%></div>
								<div class="clear">&nbsp;</div>
							</div>
							<!--form_unit end-->
								
							<!--form_unit begin-->
							<div class="form_unit">
								<div class="s_unit">
									<label><%=_('Repeat Password')%> <var>*</var></label>
									<%=form.password_field :password_confirmation,:class=>"w225"%>
								</div>
								<div class="error_msg mgL110 radius2"><%=form.error_message_on :password_confirmation%></div>
								<div class="clear">&nbsp;</div>
							</div>
							<!--form_unit end-->            

							<!--form_unit begin-->
							<div class="mgt10 mgL135">
								<input type="submit" class="btn30 radius3 bc w105" value="<%=_('Submit')%>" name=""/>
								 <span class="notice"></span>
								<div class="clear">&nbsp;</div>
							</div>
							<!--form_unit end-->               
  
						<div class="clear">&nbsp;</div>	
           </div>
					<!--Reset Password end-->
					<% end %>
					<div class="clear">&nbsp;</div>	
        </div>
        <!--change end-->
          
          <div class="clear">&nbsp;</div>	
        </div>
        <!--content end-->

