<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="Description" content="" />
</head>
<body>
<div style="width:700px;margin:0px auto;font-size:12px;font-family:Arial,sans-serif;background-color:#fff;">
	<div style="width:700px;margin:0px;padding:0px;">
  	<table width="700" cellpadding="0" cellspacing="0" border="0" align="center">
    	<!--banner begin-->
      <tr>
      	<td>
        	<div style="background-color:#333;">
						<div style="height:5px;line-height:5px;font-size:0px;">&nbsp;</div>
          	<div style="line-height:39px;height:39px;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.ce180.com/images/ce180_cnbeta.jpg" width="232" height="39" border="0" alt=""/></div>
						<div style="height:10px;line-height:10px;font-size:0px;">&nbsp;</div>
        	</div>
        </td>
      </tr>
    	<!--banner end-->
      
      <!--content begin-->
      <tr>
      	<td>
				 <table width="700" cellpadding="0" cellspacing="10" border="0">
						<tr><th align="left" width="190">Invite ID</th><td><%= @ask_for_invite_code.id %></td></tr>
						<tr><th align="left" width="190">Full Name</th><td><%= @ask_for_invite_code.real_name if @ask_for_invite_code.real_name %></td></tr>
						<tr><th align="left" width="190">Apply time</th><td><%= l @ask_for_invite_code.created_at%></td></tr>
						<tr><th align="left" width="190">User Email</th><td><%= @ask_for_invite_code.email if @ask_for_invite_code.email %></td></tr>
						<tr><th align="left" width="190">Company/School</th><td><%= @ask_for_invite_code.company if @ask_for_invite_code.company %></td></tr>
						<tr><th align="left" width="190">Company/School Email</th><td><%= @ask_for_invite_code.company_email if @ask_for_invite_code.company_email %></td></tr>
						<tr><th align="left" width="190">Position</th><td><%= @ask_for_invite_code.position if @ask_for_invite_code.position %></td></tr>
					</table>
				</td>	
      </tr>               
    	<!--footer end-->               
    </table>
  	<div style="clear:both;height:1px; font-size:0px; line-height:0px;">&nbsp;</div>
  </div>
  <div style="clear:both;height:1px; font-size:0px; line-height:0px;">&nbsp;</div>
</div>
</body>
</html>

