  
    <!--right begin-->
    <div class="about_right fr pdLR10 mgt10">
    	<div class="about_tab">
        <%= link_to _('关于我们'), general_about_us_path %>
	    	<%= link_to _('联系我们'), general_contact_us_path %>
        <%= link_to _('意见反馈'), feedbacks_path %>
        <%= link_to _('加入我们'), general_join_us_path %>   
				<%= link_to _('服务条款'), general_agreement_basic_path %>
				<%#= link_to _('帮助'), general_help_path %>
			</div>  
    </div>
    <!--right end-->

