
<!--auter begin-->
<div class="integral_part">
	<div class="unit width275">
  	<div class="title">
    	<strong><%=_("第一步")%></strong>
    	<span><%=_("简单注册")%></span>
    </div>
    <p class="height36"><%=_("我便拥有自己的电子名片(My E-namecard)!")%></p>
    <%=image_tag(("en"==session[:locale])? "ce_01en.jpg" : "ce_01.jpg",:alt=>_("简单注册"))%>
  </div>
  <div class="unit width305 pdleft">
  	<div class="title">
    	<strong><%=_("第二步")%></strong>
    	<span><%=_("简单选择相关行业")%></span>
    </div>
    <p class=""><%=_("我便拥有专为我定制的商业咨询面板(My Dashboard)!")%></p>
 <%=image_tag(("en"==session[:locale])? "ce_02en.jpg" : "ce_02.jpg",:alt=>_("简单选择相关行业"))%>
  </div>  
  <div class="unit width275">
  	<div class="title">
    	<strong><%=_("第三步")%></strong>
    	<span><%=_("简单交换电子名片")%></span>
    </div>
    <p><%=_("我便结识新的商业伙伴，拥有我的CE180商业伙伴网络(My Business Network)!")%></p>
 		<%=image_tag(("en"==session[:locale])? "ce_03en.jpg" : "ce_03.jpg",:alt=>_("简单交换电子名片"))%>
  </div>
  <div class="unit width305">
  	<div class="title">
    	<strong><%=_("第四步")%></strong>
    	<span><%=_("更棒的是...")%></span>
    </div>
    <p><%=_("通过参加CE180在你的城市举办的线下活动，一切不只停留在互联网上！从线上到线下，真实交流，与商业伙伴面对面！")%></p>
 		<%=image_tag(("en"==session[:locale])? "ce_04.jpg" : "ce_04.jpg",:alt=>_("更棒的是..."))%>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<!--auter end-->