<div class="content">
    <!--left begin-->
    <div class="about_left fl pdLR10">
			<div class="about_title">
				<strong><%=_('联系我们')%></strong>
				<div class="clear">&nbsp;</div>
			</div>
      <!--1 begin-->
      <div class="about_conment">
      	<p><%=_('如希望更多了解有关ＣＥ１８０（思易网），ＣＥＢＥＸ集团以及ＣＥ１８０各种线下活动的信息，敬请以以下方式联系我们，我们随时欢迎您的致电与垂询。')%></p>
      </div>
      <!--1 end-->
      <!--2 begin-->
      <div class="about_conment">
        <p><%=_('地址：北京市朝阳区日坛路6号新族大厦主楼9层')%></p>
        <p><%=_('邮编：100020')%></p>
        <p><%=_('网站地址:')%>&nbsp;<%= link_to 'http://www.cebexgroup.com/home', "http://www.cebexgroup.com/home" %></p>
        <p><%=_('总机：010-65691321；010-85639951')%></p>
				<p><%=_('　商务拓展:010-85639953转243；010-85306215转242')%></p>
        <p><%=_('　媒体:010-85306216转208；010-85306217转209')%></p>
        <p><%=_('　传真:+86 (10) 8561 1933')%></p>
        <p><%=_('电子邮件:')%>&nbsp;<%=link_to  'events@cebexgroup.com', "mailto:events@cebexgroup.com"%></p>
      </div>
    	<!--2 end-->

    </div>
    <!--left end-->
    
    <%=render "menu"%>
</div>
