
	<!--main begin-->
  <div class="main">
    <ul class="bar_unit">
      <li>
        <%=link_to comingsoon_path, :class=>"ce_Tool" do %>
        	<span ><%=_("CE Power Tool")%></span>
        <%end%>
      </li>
      <li>
        <%=link_to client_event_path(563), :class=>"feature_Event" do%>
        	<span ><%=_("Feature Event")%></span>
        <%end%>
      </li>
      <li>
        <%=link_to client_events_path , :class=>"upcoming_Event" do%>
        	<span><%=_("Upcoming Events")%></span>
        <%end%>
      </li>
    </ul>
    <div class="clear">&nbsp;</div>
  </div>
  <!--main end-->


