<div class="content">
    <!--left begin-->
    <div class="about_left fl pdLR10">
			<div class="about_title">
				<strong><%=_('加入我们')%></strong>
				<a href="mailto:hr@cebexgroup.com"><%=_('立即发送简历')%></a>
				<div class="clear">&nbsp;</div>
			</div>
       <!--list begin-->
  		 <div class="about_conment about_bg">
          <p><%=_('你技艺超群，思维敏捷；')%></p>  
          <p><%=_('你有一个周围人不是很理解的梦；')%></p>  
          <p><%=_('喜欢和大家一起分享你天马行空的创意；')%></p>  
          <p><%=_('不论经验丰富与否，你敢想敢说敢做；')%></p>  
          <p><%=_('我们更爱你突发奇想的无厘头智慧；')%></p>  
          <p><%=_('工作不仅仅是为了一日三餐，更是为了在互联网成就一番令人骄傲的事业；')%></p>  
          <p><%=_('如果你具备以上特质，你就是我们要找得CE人。')%></p>          
        </div>      
        <!--list end-->

    </div>
    <!--left end-->
    
    <%=render "menu"%>
</div>
