  <div class="info_name">
    <%
      @title = (@uid.to_i == 2295615873 ? "微博监控" : "内容库")

    %>
    <%=@title%>
  </div>



  <ul class="nav nav-tabs">
    <li class="<%= @mod == nil ? "active" : ""%>"><a href="/client/contents">内容列表</a></li>
    <li class="<%= @mod == "stats" ? "active" : ""%>"><a href="/client/contents?mod=stats">统计</a></li>
  </ul>



  <div class="row-fluid search-box radius-3">
    <div class='title'>
      <strong>筛选条件</strong>
    </div>
    <div class="span12 conditions">
      <%=form_for :search, :url=>client_contents_path,:method=>:get do |form|
        %>
      <div class="tags">
        <span>
          发布时间范围:
          <%=form.text_field :start_time,:value=>@q[:start_time],:placeholder=>"大于,如:2013-10-1"%>
          -
          <%=form.text_field :end_time,:value=>@q[:end_time],:placeholder=>"小于,如:2013-10-1"%>
        </span>
        <span>
          微博类型:
          <%=form.select :content_type,options_for_select([['不限',nil],['图片','image'],['视频','video']],@q[:content_type])%>
        </span>



        <span><lable>关键词: </lable>
          <%=form.text_field :keyword,:value=>@q[:keyword],:placeholder=>"关键词"%>
        </span>
        <span><lable>监控帐号: </lable>
          <%=form.select :uid,options_for_select([["不限",""]]+@accounts.map{|a|[a.screen_name, a.uid]},@q[:uid])%> <a href="#" onclick="alert('如需添加更多监控帐号, 请联系您的销售经理.')">添加</a>
        </span>
        <span><lable>互动量大于: </lable>
          <%=form.text_field :interaction_egt,:value=>@q[:interaction_egt]%>
        </span>

        <br/>
        <span><%=form.select :tag1, options_for_select([["Objective",""]]+MIntelContent::DIMENSIONS[0][1],@q[:tag1])%></span>
        <span><%=form.select :tag2, options_for_select([["Message",""]]+MIntelContent::DIMENSIONS[1][1],@q[:tag2])%></span>
        <span><%=form.select :tag3, options_for_select([["Group",""]]+MIntelContent::DIMENSIONS[2][1],@q[:tag3])%></span>

        <span><%=form.select :tag4, options_for_select([["Format",""]]+MIntelContent::DIMENSIONS[3][1],@q[:tag4])%></span>
        <span><%=form.select :tag5, options_for_select([["Resource",""]]+MIntelContent::DIMENSIONS[4][1],@q[:tag5])%></span>
        <span><%=form.select :tag6, options_for_select([["Topics",""]]+MIntelContent::DIMENSIONS[5][1],@q[:tag6])%></span>
      </div>
      <div class="search-btn"><%=form.submit "搜索", :class=>"btn btn-info"%></div>
      <%end%>
    </div>
  </div>

  <div class="row-fluid fans-list-box radius-3">
    <div class='title'>
      <strong><%=@title%>列表</strong>
      <!--
      <div class="btn-right">
        <button type="button" class="btn btn-default">添加备注</button>
        <button type="button" class="btn btn-default">添加分组</button>
      </div>
    -->
    </div>
    <div class="list">
      <table class="table table-bordered table-hover post-list">

        <thead>
          <%
          s1 = sort_type(@sort_col,"post_at",@sort_type)
          s2 = sort_type(@sort_col,"interactions",@sort_type)

          l1 = sort_label(@sort_col,"post_at",@sort_type)
          l2 = sort_label(@sort_col,"interactions",@sort_type)
          %>

          <th width="100">帐户</th>
          <th width="80"><%=link_to "发布时间#{l1}", client_contents_path(sort_type:s1,sort_col:"post_at")%></th>
          <th width="40">类型</th>
          <th width="80"><%=link_to "互动量#{l2}", client_contents_path(sort_type:s2,sort_col:"interactions")%></th>
          <th width="100">标签分类</th>
          <th width="70">操作</th>
        </thead>
          <%
            users = {}
            @contents.each{|post|
            user = (users[post.uid] ||= WeiboAccount.find_by_uid(post.uid))
            %>
        <tbody>
          <tr style="height:20px">
            <td> <%=user.screen_name%> </td>
            <td><%=l (post.post_at)%></td>
            <td>
              <%="图片" if post.is_image?%>
              <%="视频" if post.is_video?%>
            </td>
            <td><%=post.interactions%></td>
            <td rowspan=2>
              <%=post.tag1%><br/>
              <%=post.tag2%><br/>
              <%=post.tag3%><br/>
              <%=post.tag4%><br/>
              <%=post.tag5%><br/>
              <%=post.tag6%><br/>

            </td>
            <td rowspan=2>
              <%=link_to "查看<br/>".html_safe, post.url,:target=>"_blank" if post.url%>
              <%=link_to "编辑标签", "#", class:"edit_tags_btn", "data-content-id"=>post.id, "data-update-url"=>client_content_path(post), "data-tag1"=>post.tag1, "data-tag2"=>post.tag2, "data-tag3"=>post.tag3,"data-tag4"=>post.tag4, "data-tag5"=>post.tag5, "data-tag6"=>post.tag6%>
            </td>
          </tr>
          <tr>
            <td class="post-content" colspan=4>
              <span style="float:left;width:60%" class="content">
                <%=post.text%>
              </span>
              <%if post.images.present?
                %>
                <%=image_tag post.images.first%>
              <%end%>
            </td>

          </tr>
        </tbody>

          <%}%>
          <%if !@contents.any?%>
          <tr>
            <td colspan=7 class='text-center'>没有内容</td>
          </tr>
          <%else%>
          <tr>
            <td colspan=7 class='text-right'>
              <div class="span10 pull-right">
                <%=will_paginate(@contents)%>
              </div>
            </td>
          </tr>
          <%end%>
        

      </table>
    </div>

  </div>






  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>编辑标签</h3>
    </div>
    
    <%=form_for :content, :url=>"#", :remote=>true,:method=>:put, :html=>{:style=>"margin:0px",:id=>"edit_tags_form"} do |form|%>
      <div class="modal-body">
        <%=form.select   :tag1,options_for_select([["Objective",""]]+MIntelContent::DIMENSIONS[0][1]),{},:style=>"width:120px"%>
        <%=form.select   :tag2,options_for_select([["Message",""]]+MIntelContent::DIMENSIONS[1][1]),{},:style=>"width:120px"%>
        <%=form.select   :tag3,options_for_select([["Group",""]]+MIntelContent::DIMENSIONS[2][1]),{},:style=>"width:120px"%>
        <%=form.select   :tag4,options_for_select([["Format",""]]+MIntelContent::DIMENSIONS[3][1]),{},:style=>"width:120px"%>
        <%=form.select   :tag5,options_for_select([["Resource",""]]+MIntelContent::DIMENSIONS[4][1]),{},:style=>"width:120px"%>
        <%=form.select   :tag6,options_for_select([["Topics",""]]+MIntelContent::DIMENSIONS[5][1]),{},:style=>"width:120px"%>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">取消</a>
        <%=form.submit "更新", :class=>"btn btn-primary"%>
      </div>
    <%end%>
  </div>



<%content_for :tail do%>
  <script>
//    init_city_selects($("#search_province"),$("#search_city"),'<%=@q[:province]%>','<%=@q[:city]%>');

    <%if @q[:keyword].present?%>

    $("span.content").each(function () {

        var text = $(this).text();
        text = text.replace(/<%=@q[:keyword]%>/g, '<span class="highlight"><%=@q[:keyword]%></span>')
        $(this).html(text);
    });
    <%end%>




    $(".edit_tags_btn").click(function(){
      $("#edit_tags_form").attr("action",$(this).data("update-url"));
      var post_id = $(this).data("content-id");
      $("#content_tag1").val($(this).data("tag1"));
      $("#content_tag2").val($(this).data("tag2"));
      $("#content_tag3").val($(this).data("tag3"));
      $("#content_tag4").val($(this).data("tag4"));
      $("#content_tag5").val($(this).data("tag5"));
      $("#content_tag6").val($(this).data("tag6"));
      $("#myModal").modal();
      return false;
    })



    $("#edit_tags_form").on("ajax:success",function(xhr,json){
      if(json.status=="success"){
        location.reload();
      }
    })


    $("table tbody").mouseover(function(){
      $(this).css("background-color","#f5f5f5");
    }).mouseout(function(){
      $(this).css("background-color","");
    })
  </script>
<%end%>