<div class="main pdT15">



<%=form_for :payment, :url=>pay_index_path do |form|%>
<%#=form_for :payment, :url=>pay_index_path,:remote=>true, :html=>{:id=>"payment_form", :"data-type"=>"json",:target=>"_blank"} do |form|%>
  <%=hidden_field_tag  :order_id, params[:order_id]%>

  <div class="title35">订单信息</div>
  <!--order infor begin-->
  <table class="order_infor" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>所购商品</th>
      <th>订单金额</th>
      <th>优惠金额</th>
      <th>需支付</th>
    </tr>
    <tr>
      <td><%=@order.items.map{|item| item.product.name} * " | "%></td>
      <td>¥<%=@order.amount%></td>
      <td>¥<%=@order.coupon_paied%></td>
      <td>¥<%=@order.need_pay%></td>
    </tr>
  </table>
  <!--order infor end-->


  <div class="title35 mgT15">请选择支付方式</div>
  <div class="payment mgt10 bgf">
    <%=radio_button_tag :pay_method, "alipay",{},:id=>"pay_method_payBank" , :style=>"display:none"%>
    <!--payment method begin-->
    <div class="payment">
    	<ol>
      	<li>
        	<%=radio_button_tag :pay_method, "alipay",{},:id=>"pay_method_alipay", :class=>"alipay_input"%>
        	<label for="pay_method_alipay" class="alpay"><span>支付宝</span></label>
        </li>    
      </ol>  
      <!--
    	<h5>在线支付</h5>
    	<ol>
			  <%Alipay::BANKS.each{|bank|%>
				  <li>
					  <input type="radio" name="payBank" value="<%=bank%>" id="pay_bank_<%=bank%>" class="bank_input">
					  <label for="pay_bank_<%=bank%>" class="bank_button <%=bank.downcase%>"></label>
				  </li>
			  <%}%>
      </ol>
      -->
    </div>
  	<div class="clear">&nbsp;</div>
  </div>
  <!--payment method end-->

	<div class="btn108 mgT15">
  	<input type="submit" value="支  付" class="btncode"/>
  </div> 
                         
<% end %>



</div>



















  <!--pop begin-->
  <div style="display:none">
    <div class="pay_pop backg_cf" id="pay_pop">
    	<div class="title38 bc_botttom1">
				<strong><%=_('登录网上银行付款')%></strong>
			</div>
    	<div class="pay_pop_content">
      	<strong><%=_('请您在新打开的网上银行页面完成付款')%></strong>
      	<p><%=_('付款完成前请不要关闭此窗口')%></p>
        <p><%=_('完成付款后请根据您的情况点击一下按钮')%></p>
        <div class="pay_affirm">
        	<input type="submit" id="pay_success_btn" value="<%=_('已完成付款')%>"/>
          <input type="submit" id="pay_failed_btn" value="<%=_('重新支付')%>"/>
        </div>
      </div>
    	<div class="clear">&nbsp;</div>
    </div> 
  </div>
  <!--pop end--> 
  <a href="#pay_pop" id="pay_pop_link" class="inline"></a>



<script>
$(function(){

  $("#pay_pop_link").fancybox({type:"inline"});

  $("#payment_form")
    .live("ajax:loading",  toggleLoading)
    .live("ajax:complete", toggleLoading)
    .live("ajax:success", function(xhr, data, status) {
      pay_url = data.pay_url;
      payment_id = data.payment_id;
      <%if I18n.locale == :en%>
        window.location.href = pay_url;
      <%else%>
        window.open(pay_url);
        $("#pay_pop_link").click();
      <%end%>
    });


  // if click bank icons, select "payBank"
  $("input[type=radio]").click(function(){
    if($(this).hasClass("bank_input")){
      $("#pay_method_payBank").click();
    }
    if($(this).hasClass("alipay_input")){
      $("input.bank_input").attr("checked", false);
    }
    if($(this).hasClass("paypal_input")){
      $("input.bank_input").attr("checked", false);
    }
  });


  $("#modify_payment").click(function(){
    $("#modify_payment_save").show();
    $("#pay_amount_input").show();
    $("#pay_amount").hide();
  });
  $("#modify_payment_save").click(function(){
    $("#modify_payment_save").hide();
    $("#pay_amount_input").hide();
    $("#pay_amount").show();
  });
  $("#pay_amount_input").change(function(){
    $("#pay_amount").text($(this).val());
  });


  $("#pay_success_btn").click(function(){
    window.location.href="/pay/"+payment_id;
  });

  $("#pay_failed_btn").click(function(){
    window.location.reload();
  });

});


</script>





