    <div class="follow_list">
      <div class="user_ava60">
         <%=link_to  user_avatar_tag(user,:thumb, :size=>"60x60", :scaling=>true),user_path(user) %>     
      </div> 
      <!--follow_485 begin-->           
      <div class="follow_485">
        <!--center user_c begin-->
        <div class="follow_c">
          <div class="user_name">
          <%=link_to user.displayable_name, user_path(user)%>
            <%if user.is_industry_icon? %>
              <%=image_tag "c_leader.gif" ,:title=>_("行业领袖"),:alt=>_("行业领袖")%> 
            <%end%>         
          </div>
          
          <div class="user_position">
            <span><%=user.business_card.title if user.business_card%></span>
            <span><%=user.business_card.industry_name if user.business_card%></span>
            <span><%=user.business_card.company if user.business_card%> </span>
          </div>
          <div class="bar_ffs">
            <%=link_to user_followings_path(user) do%><%=_("关注  ")%><em><%=user.get_microblog_info.followings%></em><%end%>&nbsp;|&nbsp;
				    <%=link_to user_followers_path(user) do%><%=_("粉丝")%><em><%=user.get_microblog_info.followers%></em><%end%>&nbsp;|&nbsp;
				    <%=link_to user_activities_path(user) do%><%=_("分享")%><em><%=user.get_microblog_info.blogs%></em><%end%>
          </div> 
          <div class="description">
            <%=render(:partial => "/client/activities/activity_content", :locals => {:activity=>user.activities.last}) unless user.activities.blank? %>
          </div>
          <div class="bar_fcc">
          <strong><%= activity_time(user.activities.last.created_at.to_datetime) if user.activities && user.activities.last && user.activities.last.created_at%></strong>
          </div>
        </div>
        <!--center user_c end-->
        <!--right bar 120 begin-->
         <%=render :partial=>"/client/common/common_user_status",:locals=>{:user=>user}%>
        <!--right bar 120 end-->
        <div class="clear">&nbsp;</div>
      </div>            
      <!--follow_485 end-->
      <div class="clear">&nbsp;</div>
    </div>
