  <div class="info_name">
    礼品库
  </div>





  <!--  form begin  -->
  <div class="form-wrap">

    <%if flash[:success]%>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%=flash[:success]%>
      </div>
    <%end%>

    <table class='table table-bordered table-hover post-list'>
      <tr>
        <td><%=_('名称')%>: </td>
        <td>
        <%=@intel_gift.name%>
        </td>
      </tr>
      <tr>
        <td><%=_('OWNER')%>: </td>
        <td>
        <%=@intel_gift.owner%>
        </td>
      </tr>
      <tr>
        <td><%=_('共消费')%>: </td>
        <td>
        <%=@intel_gift.price%>
        </td>
      </tr>
      <tr>
        <td><%=_('共购买数量')%>: </td>
        <td>
        <%=@intel_gift.number%>
        </td>
      </tr>
      <tr>
        <td><%=_('备注')%>: </td>
        <td>
        <%=@intel_gift.description%>
        </td>
      </tr>

    </table>
    <div class="form-buttom">
      <%=link_to "编辑",edit_intel_kol_purchase_record_path(@purchase.id), :class=>"btn btn-primary"%>
      <%=link_to "删除",intel_kol_purchase_record_path(@purchase.id), :class=>"btn btn-warning",:method=>:delete,:confirm=>"确定要删除吗?"%> 
      <%=link_to "返回", intel_kol_purchase_records_path%>
    </div>
  </div>
  <!--  form end  -->









<%content_for :tail do%>



<%end%>
