<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=_('思易网')%> <%= @html_title.to_s %></title>
  <%=render "common/init_js"%>
  <%= javascript_include_tag "jquery","jquery.tools.js","fancybox/jquery.mousewheel-3.0.4.pack.js","fancybox/jquery.fancybox-1.3.4.pack.js","rails","jquery-ui","jquery-combobox","jrails","application","nested_form", "admin", :cache => "all_admin" %>
  <%=render "common/init_tiny_mce"%>
  <%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/drastic-dark/style","jquery-ui.css", :cache => "all_admin" %>
  <%=stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4"%>
  <%=yield(:special_head)%>
  <style>
	.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
  </style>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%=_('TEST')%> </a></h1>
      <div id="user-navigation">
        <%=link_to  "English", language_path(:en)%> <%=link_to "中文", language_path(:zh_CN)%>
        <%if current_user%><%=_('你好')%>, <%=current_user.login%>, <%=link_to _('退出'), logout_path%><%end%>
      </div>      
      <div id="main-navigation">
        <ul class="wat-cf"> 
        <li class="<%= controller.controller_path =~ /^admin/ ? 'active' : '' %>"><a href="<%= admin_root_path %>"><%=_('管理')%></a></li>
        <li class="<%= controller.controller_path =~ /^stats/ ? 'active' : '' %>"><a href="<%= stats_root_path %>"><%=_('统计')%></a></li>
        
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p><%=_('版权')%> &copy; <%= Time.now.year %> CebexGroup.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= render :partial => "common/stats/sidebar" %>
      </div>
    </div>    
  </div>
  <div id="dialog" style="display:none;">
  </div>
</body>
</html>
